<!DOCTYPE html>
<html lang="en">
  <head>
    <title>好好学习,天天向上!</title>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body >
    <% if current_user.present? %>
      <div style='float: right'>
      欢迎: <%= current_user.email %>,
      <%= link_to '退出', destroy_user_session_path, :method => :delete %>
      </div>
    <% end %>
    <div id="wrap">
      <%= yield %>
    </div>
  </body>
</html>
